@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;800&family=VT323&display=swap');

body {
  margin: 20px;
  font-family: "Poppins";
  background: #d1dedd;
}
ul, li {
  padding: 0;
  list-style-type: none;
}
h1,h2,h3 {
  color: #767f7e;
}
p {
  color: #828b8a;
}

/* Tutorial styles */
.grid-container {
  max-width: 900px;
  margin: 0 auto;
  padding: 30px;
  background-color: #eee;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 100px 200px 300px;
  gap: 10px;
  justify-content: stretch;
  align-items: stretch;
}
.grid-container > div {
  background-color: #ccc;
  text-align: center;
  padding: 20px;
}
.grid-container > div:nth-child(1){
  grid-column: 3 / span 2;
}
.grid-container > div:nth-child(2){
  grid-column: 1 / 2;
  position: relative;
}
.grid-container > div:nth-child(2)::after{
  content: '';
  width: 70%;
  height: 70%;
  background-color: #eee;
  position: absolute;
  bottom: 0;
  right: 0;
}
.grid-container > div:nth-child(3){
  grid-column: span 4;
}
.grid-container > div:nth-child(4){
  grid-column: 6 / 7;
  position: relative;
}
.grid-container > div:nth-child(4)::after{
  content: '';
  width: 70%;
  height: 70%;
  background-color: #eee;
  position: absolute;
  bottom: 0;
  left: 0;
}
.grid-container > div:nth-child(5){
  grid-column: span 3;
  align-self: stretch;
  justify-self: center;
}
.grid-container > div:nth-child(6){
  grid-column: span 3;
  align-self: stretch;
  justify-self: center;
}